<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olympics App</title>


    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header id="site-header">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Olympics Events</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="/events">Events</a></li>
                    <li><a href="/events/create">Create Event</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main id="site-main">
        <div class="container">
            <%- body %>
        </div>
    </main>

    <footer id="site-footer" class="text-center">
        <p>Copyright &copy; 2017 Olympics</p>
    </footer>

</body>
</html>